@model OnlineStore.Models.BillingAddress

@{
    ViewBag.Title = "Address";
}

        <div>
            @Html.DisplayNameFor(Model => Model.Fullname)
            @Html.EditorFor(Model => Model.Fullname)
        </div>
        <div>
            @Html.DisplayNameFor(Model => Model.HouseName)
            @Html.EditorFor(Model => Model.HouseName)
        </div>

        <div>
            @Html.DisplayNameFor(Model => Model.StreetAddress)
            @Html.EditorFor(Model => Model.StreetAddress)
        </div>

        <div>
            @Html.DisplayNameFor(Model => Model.City)
            @Html.EditorFor(Model => Model.City)
        </div>

        <div>
            @Html.DisplayNameFor(Model => Model.Country)
            @Html.EditorFor(Model => Model.Country)
        </div>

        <div>
            @Html.DisplayNameFor(Model => Model.PostCode)
            @Html.EditorFor(Model => Model.PostCode)
        </div>
