@model OnlineStore.Models.AddressViewModel

@{
    ViewBag.Title = "Address";
}

@using (Html.BeginForm("UpdateAddress", "Account"))
{
    <div>
        @Html.DisplayNameFor(Model => Model.BillingAddress.Fullname)
        @Html.EditorFor(Model => Model.BillingAddress.Fullname)
    </div>
    <div>
        @Html.DisplayNameFor(Model => Model.BillingAddress.HouseName)
        @Html.EditorFor(Model => Model.BillingAddress.HouseName)
    </div>

    <div>
        @Html.DisplayNameFor(Model => Model.BillingAddress.StreetAddress)
        @Html.EditorFor(Model => Model.BillingAddress.StreetAddress)
    </div>

    <div>
        @Html.DisplayNameFor(Model => Model.BillingAddress.City)
        @Html.EditorFor(Model => Model.BillingAddress.City)
    </div>

    <div>
        @Html.DisplayNameFor(Model => Model.BillingAddress.Country)
        @Html.DropDownListFor(Model => Model.BillingAddress.Country, Model.CountriesList)
    </div>

    <div>
        @Html.DisplayNameFor(Model => Model.BillingAddress.PostCode)
        @Html.EditorFor(Model => Model.BillingAddress.PostCode)
    </div>
}