@model IList<OnlineStore.Models.PaymentOptions>

@{
    ViewBag.Title = "Cards";
}

<h2>Cards</h2>

<div>
    @foreach (var item in Model)
    {
    <h4>PaymentOptions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => item.CardTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.CardTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => item.ExpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.ExpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => item.CardNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.CardNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => item.CVV)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.CVV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => item.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.CustomerId)
        </dd>

    </dl> }
</div>
   
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
